<div id="<%= dom_id comprador %>">
  <table>
    <tr>
      <td>
        <strong>CPF/CNPJ:</strong>
        <%= comprador.cpf_cnpj %>
      </td>
      <td>
        <strong>Nome:</strong>
        <%= comprador.nome %>
      </td>
    </tr>
  </table>
</div>
