<h1>Editing comprador</h1>

<%= render "form", comprador: @comprador %>

<br>

<div>
  <%= link_to "Show this comprador", @comprador %> |
  <%= link_to "Back to compradors", compradors_path %>
</div>
