/* app/assets/stylesheets/styles.css */
#ofertum {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #ccc;
}

strong {
    color: #007bff;
}
