<div id="<%= dom_id vendedor %>">
  <p>
    <strong>Cnpj:</strong>
    <%= vendedor.cnpj %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= vendedor.razao_social %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= vendedor.site %>
  </p>

</div>
