<div id="<%= dom_id vendedor %>">
  <table>
    <tr>
      <td>
        <strong>CNPJ:</strong>
        <%= vendedor.cnpj %>
      </td>
      <td>
        <strong>Razão Social:</strong>
        <%= vendedor.razao_social %>
      </td>
      <td>
        <strong>Site:</strong>
        <%= vendedor.site %>
      </td>
    </tr>
  </table>
</div>
